          <h5>Presentations</h5>
          <ul>
            <li>2012 (tbd)</li>
            <li><a href="Presentations/2011/">2011</a></li>
            <li><a href="Presentations/2010/">2010</a></li>
            <li><a href="Presentations/2009/">2009</a></li>
          </ul>

          <h5>Our Sites</h5>
          <ul>
            <li><a href="http://www.refreshcache.com">official website</a></li>
            <li><a href="http://arena.refreshcache.com">Arena &lt;Sample Server&gt;</a></li>
            <li>Rock ChMS &lt;Sample Server&gt; (coming soon)</li>
            <li><a href="http://redmine.refreshcache.com">Redmine Project Server</a></li>
            <li><a href="http://sparkdevnetwork.github.com/Rock-ChMS/">RockChMS Developer Page</a></li>

          </ul>

          <h5>IRC &amp; Chat</h5>
          <ul>
            <li><a href="irc://chat.freenode.net/#ArenaChMS">Arena IRC Admin/Dev Channel</a></li>
            <li><a href="http://www.blueboxmoon.com/irclogs/">Arena IRC Logs/history</a></li>

            <li><a href="irc://chat.freenode.net/#RockChMS">RockChMS IRC Dev Channel</a></li>
            <li><a href="http://dev.sparkdevelopmentnetwork.com/irclogs">RockChMS Logs/history</a></li>
          </ul>
