          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Presentations</li>
	            <li>2012 (tbd)</li>
	            <li><a href="/RefreshCache/Presentations/2011/">2011</a></li>
	            <li><a href="/RefreshCache/Presentations/2010/">2010</a></li>
	            <li><a href="/RefreshCache/Presentations/2009/">2009</a></li>
	            <li>test</li>
            
              <li class="nav-header">Our Sites</li>
	            <li><a href="http://www.refreshcache.com">(r)c Website</a></li>
	            <li><a href="http://arena.refreshcache.com">Arena &lt;Sample Server/&gt;</a></li>
	            <li>Rock ChMS &lt;Sample Server/&gt; (coming soon)</li>
	            <li><a href="http://redmine.refreshcache.com">Redmine Project Server</a></li>
	            <li><a href="http://sparkdevnetwork.github.com/Rock-ChMS/">RockChMS Developer Page</a></li>
	              
              <li class="nav-header">IRC &amp; Chat</li>
	            <li><a href="irc://chat.freenode.net/#ArenaChMS">Arena IRC Admin/Dev Channel</a></li>
	            <li><a href="http://www.blueboxmoon.com/irclogs/">Arena IRC Logs/history</a></li>
	
	            <li><a href="irc://chat.freenode.net/#RockChMS">RockChMS IRC Dev Channel</a></li>
	            <li><a href="http://dev.sparkdevelopmentnetwork.com/irclogs">RockChMS Logs/history</a></li>
            </ul>
          </div>