  <head>
    <meta charset="utf-8">
		<title>{{ page.title }}</title>
    <meta name="description" content="NOT the official developer's home page for the RefreshCache group">
    <meta name="author" content="Nick Airdo">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
  </head>