<!DOCTYPE html>
<html lang="en">
	{% include standard_head.html %}
  <body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">
  	
		{% include header.html %}

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span4 bs-docs-sidebar">
				<ul class="nav nav-list">
					{% include sidebar.html %}
				</ul>
			</div>
			
			<div class="span8">
				{{content}}
			</div>
		</div>
	</div>

    <footer class="footer">
      <p>&copy; 2012 <a href="http://www.refreshcache.com">RefreshCache</a>, <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a></p>
    </footer>

  </body>
</html>